.jumbotron {
  background-image: url(../images/news.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(129, 66, 66);
}

hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.smallDetail {
  display: inline;
  font-size: 12px;
}

.image {
  width: 300px;
}

.imageComment {
  width: 250px;
}

.commentNameSaved {
  text-decoration: underline;
  margin-bottom: 0px;
}

.commentMessageSaved {
  font-size: 12px;
  margin-top: 0px;
  margin-left: 10px;
  display: inline;
}

.deleteComment {
  display: inline;
  font-size: 8px;
}